<!DOCTYPE HTML>
<html>

<link rel="stylesheet" type="text/css" href="static/cooking/reset.css">
<link rel="stylesheet" type="text/css" href="static/cooking/style.css">
<link href='http://fonts.googleapis.com/css?family=Crete+Round' rel='stylesheet' type='text/css'>

{% extends "cooking/base.html" %}
{% block homepage %}
<body>
<div id="hero-image">
    <div class="wrapper">
        <h2><strong>All your favorite recipes</strong><br/>
        in one place.</h2>
        <a href="{% url 'register' %}" class="button-1">Get Started</a>
    </div>
</div>

<div id="features">
    <div class="wrapper">
        <ul>
            <li class="feature-1">
                <h4>ADD RECIPES</h4>
                <p>Have a recipe of your own that you'd like to share to the world? Register now to use our premium Add Recipe feature.</p>
            </li>
            <li class="feature-2">
                <h4>SEARCH RECIPES</h4>
                <p>Search through thousands of recipes submitted by other users just like you.</p>
            </li>
            <li class="feature-3">
                <h4>SAVE RECIPES</h4>
                <p>Found a recipe you liked? Saving it for later use is just one click away.</p>
            </li>
            <div class="clear"></div>
        </ul>
    </div>
</div>

<div id="primary-content">
    <div class="wrapper">
        <article>
            <h3>INSERT SOMETHING HERE</h3>
            <p>Here too</p>
            <!-- <a href="#"><img src="images/video-placeholder.jpg" alt="video placeholder" /></a> -->
        </article>
    </div>
</div>

<footer>
    <div class="wrapper">
        <div id="footer-info">
            <p>Copyright 2014 CompanyName. All rights reserved.</p>
            <p><a href="#">Terms of Service</a> I <a href="#">Privacy</a></p>
        </div>
        <div id="footer-links">
            <ul>
                <li><h5>Company</h5></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Meet The Team</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            <ul>
                <li><h5>Company</h5></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Meet The Team</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
            <ul>
                <li><h5>Company</h5></li>
                <li><a href="#">About Us</a></li>
                <li><a href="#">Meet The Team</a></li>
                <li><a href="#">What We Do</a></li>
                <li><a href="#">Careers</a></li>
            </ul>
        </div>
        <div class="clear"></div>
    </div>
</footer>
</body>
{% endblock %}
</html>
