{% extends "cooking/base.html" %}

{% block content %}

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Difficulty</th>
      <th scope="col">Time to Cook</th>
        <th scope="col">Region</th>
        <th scope="col">Meal Type</th>
        <th scope="col">Date Posted</th>
        <th scope="col">Author</th>
    </tr>
  </thead>
  <tbody>
  {% for recipe in my_recipes %}
    <tr>
      <th scope="row"><a href="{% url 'viewRecipe' recipe.id %}">{{ recipe.title }}</a></th>
      <td>{{ recipe.difficulty }}</td>
      <td>{{ recipe.time_to_cook }}</td>
      <td>{{ recipe.region }}</td>
        <td>{{ recipe.meal_type }}</td>
        <td>{{ recipe.date_posted }}</td>
        <td>{{ recipe.author }}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>

{% endblock %}